<div class="page about">
    <div class="image">

      <img class="headerimg" src="../src/public/img/privacy.jpg" alt="" />
      
      <h2 class="special">About us</h2>
     
</div>
<div class="page about">
  <div class="container">
  <h1>About us</h1>
  <div class="body">
    <p>
      Deze website en concept is volledig ontworpen door Quinten Leysen als herkansing voor het OLOD MobDev1.
      Het doel van deze taak was om een mobilefriendly website te creeeren waarbij studenten en kotbazen koten kunnen vinden of aanbieden.
    </p>
    Go to <a href="/" data-navigo>Home page</a>
    </div>
  </div>
</div>
{{> footer }}