
<div class="page chat">
    <div class="container">
    <div class="">
        {{otherUser}}
    </div>
    <div class="chat-window">
        <ul id ="messages">
        </ul>
    </div>
    <form id="messageForm">
        <input type='text' id="msg-input">
        <button id="msg-btn" class="waves-effect waves-light btn ">Send</button>
    </form>
</div>
</div>
{{> footer }}