
<div class="page about">
    <div class="container">
        <div class="body">
  <h1>chats</h1>
    
              <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Last Message</th>
              <th></th>
          </tr>
        </thead>
        <tbody class="chats" id="chats">
            </tbody>
            </table>    
    </div>
  </div>
</div>
{{> footer }}