
<div class="detail">
  <h1 id="loading">Loading.. </h1>
  <div class="detail" id="detail">

  </div>
<div class="container buttons">
    <a class="waves-effect waves-light btn" id="btns">Like</a>
    <a class="waves-effect waves-light btn" id="dislikebtn">Dislike</a>
    <a class="waves-effect waves-light btn" id="chatbtn">Chat</a>
    <a class="waves-effect waves-light btn" href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
      Share
    </a>
</div>

</div>  



{{> footer }}