
<div class="container">
    <div class="page">
    <h1>Log in!</h1>
    <div class="body">
        <form class="loginform">
            <label>Email adres</label>
            <input type="email" class="emaillogin">
            <label>wachtwoord</label>
            <input type="password" class="passwordlogin">
           <a class="waves-effect waves-light btn loginbutton">verstuur</a>
            <a class="waves-effect waves-light btn signupbutton" href="#/signup">signup</button>
            <a class="waves-effect waves-light btn googlebutton">google</a>
        </form>
    </div>    
    </div>
</div>
{{> footer }}
