
<div class="page profile">
  <div class="body">
    <div class="container">
      <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div class="content" id="content">
    <h1>Profile info</h1>
    <div id="profileuser" class="profileuser">
    </div>
    <button id="logout" class="logout waves-effect waves-light btn">Log out</button>
    
    <div class="row">
    <h1>My Favorites</h1>
    <div id ="myFavs" class="myFavs"></div>
    <div class="btndiv">
    <a class="btn seemorebtn" id="seemorebtn" href="/#/like">see more</a>
    </div>
    </div>
    <div class="onlykotbaas" id="onlykotbaas">
    <h1>My Added Koten</h1>
    <div id ="addedkoten" class="addedkoten"></div>
    </div>
    </div>
    </div>
  </div>
  
{{> footer }}