
  <div class="body">
      <h1>Tinder Game</h1>
      <button id="start" class="start waves-effect waves-light btn">Start</button>
        <div class="tinder">
            <ul id="koten"></ul>
        </div>
        <div class="tinder row ">
            <button  id ="refresh" class="refresh waves-effect waves-light btn col s6">Like</button>

            <button  id ="dislike" class="dislike waves-effect waves-light btn col s6">Dislike</button>

        </div>
    </div>
{{> footer}}