       <footer class="footer page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 m6 s12">
                <h5 class="white-text">Contact</h5>
                <p class="grey-text text-lighten-4">Artevelde Hogeschool</p>
                <p class="grey-text text-lighten-4">Mobdev1</p>
                <p class="grey-text text-lighten-4">Quinten Leysen</p>
                <p class="grey-text text-lighten-4">quinleys@student.arteveldehs.be</p>
              </div>
              <div class="col l4 offset-l2 m6 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#/terms">Terms & conditions</a></li>
                <li><a class="grey-text text-lighten-3" href="#/privacy">Privacy Policy</a></li>
                  <li><a class="grey-text text-lighten-3" href="#/about">About us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#/koten">Alle Koten</a></li>
                  <li><a class="grey-text text-lighten-3" href="#/signup">Sign up</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            Srch. © 2019 Copyright Text
          </div>

